/* ==================================================================== */
/* == Footer ========================================================== */
/* ==================================================================== */

.footer {
    @extend .blue;
    padding: 8px 0;
    color: rgba(255,255,255,.9);
    font-weight: 400;
}