/* ==================================================================== */
/* == Global ========================================================== */
/* ==================================================================== */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: color("blue");
    text-decoration: none;

    &:hover {
        color: darken(color("blue"), 10%);
    }
}